.btn,.btn1,.btn2,.btn-success,.btn-dark,.btn-danger{
	padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 3px;	
}  
.btn{
	font-size: 16px;
    background-color:yellow;
    color:black;
	margin: 4px;
}
.btn-primary{
	border-style:dotted;
	border-color:black;
	border-width:5px;
    background-color:blue;
    color:white;
}  
.btn-secondary{
	border-style:dashed;
    background-color:pink;
    color:black
}
.btn-ok{
	padding:5px 8px;
	font-size:16px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
    background-color:green;
    color:white;
}  
.btn-dark{
	border-radius:8px;
	background-color:black;
	color:white;
}
.btn-danger{
	font-size:16px;
	border-radius:10px;
	border-width:5px;
	border-color:black;
    background-color:red;
    color:white;
}
.btn-disabled{
	padding:5px 8px;
    font-size:16px;
    background-color:white;
    color:black;
	border-radius:8px;
}

	